extends header

block view
	.container
		if (events)
			form.form-inline(role='form', action="/events/filter", method="post", style='margin-bottom:3%')
				.form-group
					#datetimepicker1.input-group.date
						input.form-control(type='text', placeholder='Date', name="date")
						|                     
						span.input-group-addon
							span.glyphicon.glyphicon-calendar
					| &nbsp;
				.form-group
					select.form-control(name="owner")
						each user in users
							option(value=user) #{user}
					| &nbsp;
				button.btn.btn-primary(type="submit") Filter
			|         
			script(type="text/javascript").
				$(function () {
				$('#datetimepicker1').datetimepicker({
				format: 'YYYY-MM-DD'
				});
				});
			each event in events
				.event
					.thumbnail
						a(href='#{"/events/" + event.id}')
							img.img-responsive(src='#{ event.image || "media/noimage.jpg"}')
						.caption
							h3 #{event.title}
							p #{event.description}

		if (!events)
			p No events found