extends header

block view
	.container
		.row
			.col-md-6(style='margin-top:3%')
				img.img-responsive(src='#{ event.image || "media/noimage.jpg"}')
			.col-md-6
				h1 #{event.title}
				.panel.panel-primary
					.panel-heading
						h3.panel-title What?
					.panel-body
						p(contenteditable='true') #{event.description}
				.panel.panel-primary
					.panel-heading
						h3.panel-title Where?
					.panel-body
						p #{event.city + ", " + event.location}
				.panel.panel-primary
					.panel-heading
						h3.panel-title When?
					.panel-body
						p #{event.date + " at " + event.hour}
		
		if (participate == false)
			form(role='form', action="/events/#{event.id}/join", method="post" style="float: right")
				button.btn.btn-lg.btn-success(type="submit") Join event!
		else 
			form(role='form', action="/events/#{event.id}/drop-out", method="post" style="float: right")
				button.btn.btn-lg.btn-danger(type="submit") I Cannot Attend

		h4(style='margin-top:7%') Latest comments & activity 

		.list-group
			each comment in comments
				a.list-group-item
					h5.list-group-item-heading #{comment.username}
					p.list-group-item-text #{comment.text}
		
		form(role='form', action="/events/#{event.id}/addComment", method="post")
			.input-group
				input.form-control(type="text", placeholder="Enter your comment here...", name="text")
				|       
				span.input-group-btn
					button.btn.btn-default(type='submit') Add comment